<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_002fb78f12744c7fb77d973feb940cd3 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_002fb78f12744c7fb77d973feb940cd3" ></div>
        
</body>
<script>    
    
            var map_002fb78f12744c7fb77d973feb940cd3 = L.map(
                "map_002fb78f12744c7fb77d973feb940cd3",
                {
                    center: [-34.536267, -72.406639],
                    crs: L.CRS.EPSG3857,
                    zoom: 5,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_08accc8e7e504371996d5a442a9c43e2 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_002fb78f12744c7fb77d973feb940cd3);
        
    
            var marker_13d2676f5a1d49a48db0d78a72a965ad = L.marker(
                [-34.536267, -72.406639],
                {}
            ).addTo(map_002fb78f12744c7fb77d973feb940cd3);
        
    
        var popup_2a47d9958bf6468f8b1b9be8cf7f4a45 = L.popup({"maxWidth": "100%"});

        
            var html_eb9b548d1c884b74b0b1796a452826ee = $(`<div id="html_eb9b548d1c884b74b0b1796a452826ee" style="width: 100.0%; height: 100.0%;">Playa1</div>`)[0];
            popup_2a47d9958bf6468f8b1b9be8cf7f4a45.setContent(html_eb9b548d1c884b74b0b1796a452826ee);
        

        marker_13d2676f5a1d49a48db0d78a72a965ad.bindPopup(popup_2a47d9958bf6468f8b1b9be8cf7f4a45)
        ;

        
    
    
            var marker_d563f9d46f614c9f8204025a3782766d = L.marker(
                [-35.536267, -74.406639],
                {}
            ).addTo(map_002fb78f12744c7fb77d973feb940cd3);
        
    
        var popup_cb106934c1af48fd8193c662f2e3beea = L.popup({"maxWidth": "100%"});

        
            var html_c6947c1203544cc986f3ddc3287449f9 = $(`<div id="html_c6947c1203544cc986f3ddc3287449f9" style="width: 100.0%; height: 100.0%;">Playa2</div>`)[0];
            popup_cb106934c1af48fd8193c662f2e3beea.setContent(html_c6947c1203544cc986f3ddc3287449f9);
        

        marker_d563f9d46f614c9f8204025a3782766d.bindPopup(popup_cb106934c1af48fd8193c662f2e3beea)
        ;

        
    
    
            var marker_b585c6550b0d438fb3d575e29e9ba769 = L.marker(
                [-36.536267, -75.406639],
                {}
            ).addTo(map_002fb78f12744c7fb77d973feb940cd3);
        
    
        var popup_b83d9bd167d54bf7ab5d53ed492bcfea = L.popup({"maxWidth": "100%"});

        
            var html_72451f8ec6b640da8287d248bde6c090 = $(`<div id="html_72451f8ec6b640da8287d248bde6c090" style="width: 100.0%; height: 100.0%;">Playa3</div>`)[0];
            popup_b83d9bd167d54bf7ab5d53ed492bcfea.setContent(html_72451f8ec6b640da8287d248bde6c090);
        

        marker_b585c6550b0d438fb3d575e29e9ba769.bindPopup(popup_b83d9bd167d54bf7ab5d53ed492bcfea)
        ;

        
    
</script>